@font-face {
  font-family: Gilroy;
  src: url(assests/Gilroy-ExtraBold.otf);
}

body {
  background: whitesmoke;
  color: whitesmoke;
  margin: 0;
  font-family: "Gilroy", sans-serif;
}
header {
  display: flex;
  padding: 50px 80px 0;
  justify-content: space-between;
  align-items: center;
  background-color: #002233;
}
a {
  color: whitesmoke;
}
.nav-element {
  text-decoration: none;
  padding: 10px;
  font-size: 21.6px;
  align-self: center;
}
.logo {
  width: 200px;
}
.servicenow {
  vertical-align: middle;
  width: 126px;
}
ul {
  list-style-type: none;
}
.list-items {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.book-demo {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.24em;
  padding: 9px 20px;
  border: 2px solid white;
  border-radius: 15px;
  height: 45px;
  background: transparent;
  color: whitesmoke;
}
.book-demo:hover {
  background: whitesmoke;
  color: #353535;
  cursor: pointer;
}
.arrow {
  padding: 0;
  color: whitesmoke;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 50px 130px 50px;
  background-color: #002233;
  border-radius: 0% 0% 35% 35% / 0% 0% 12% 10%;
}
h1 {
  font-size: 35px;
}
.badge {
  border-radius: 15px;
  width: 200px;
  margin-right: 20px;
}
.badge-1 {
  box-shadow: 5px 5px 2px #efae8f;
}
.badge-2 {
  box-shadow: 5px 5px 2px #5eb6a1;
}
footer {
  padding: 50px;
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-ele {
  color: #353535;
  text-decoration: none;
  font-size: 25px;
  margin-top: 10px;
}
.footer-logo {
  width: 215px;
}
.content {
  padding: 30px;
  background: whitesmoke;
  color: #353535;
  text-align: center;
}
.footer-list-items {
  display: flex;
}

span {
  background-color: #dbf3ff;
  color: #002233;
  padding: 2px 10px;
  border-radius: 10px;
  border: 2px solid #002233;
  font-size: 35px;
}
.head-text {
  font-size: 60px;
  margin-bottom: 15px;
}
.icon {
  padding: 20px;
  vertical-align: middle;
}

.card {
  padding: 30px;
  background: #dbf3ff;
  border-radius: 30px;
  width: 300px;
  box-shadow: 5px 5px 0px #002233;
  cursor: pointer;
}

.card-holder {
  margin: 50px auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
p {
  font-size: 20px;
}
.achievements {
  margin-bottom: 50px;
  color: #353535;
  text-align: center;
}
.achievements h1 {
  font-size: 35px;
}
.ach-card {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 50px 30px;
  width: 200px;
  background: #dbf3ff;
  border-radius: 30px;
  box-shadow: 5px 5px 1px #002233;
  cursor: pointer;
}
.ach-icon {
  font-size: 40px;
  height: 50px;
  margin: 0 auto;
  background: #002233;
  color: whitesmoke;
  padding: 50px;
  border-radius: 50%;
}
.ach-card-holder {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.kaptius-flow {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 100px;
  background-color: #002233;
}
.kaptius-flow p {
  font-size: 50px;
}
.flow-servicenow {
  vertical-align: middle;
  width: 232px;
  height: 60px;
}
.background {
  width: 508px;
}
.center-logo {
  position: relative;
}
.flow-logo {
  position: absolute;
  top: 10px;
  left: 0;
  width: 203px;
}
social-media {
  display: flex;
  flex-direction: column;
}
i {
  color: #002233;
  padding: 20px;
}
